<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Turismo Comunitario Ecuador</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="images/icnturist.jpg" rel="icon">
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Poppins:300,400,500,700" rel="stylesheet">
  <script async="" src="//cse.google.com/adsense/search/async-ads.js" nonce="uGP1HVzs"></script>
  <!-- Vendor CSS Files -->
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="assets/vendor/owl.carousel/assets/owl.carousel.min.css" rel="stylesheet">
  <link href="assets/vendor/venobox/venobox.css" rel="stylesheet">
  <link href="assets/vendor/aos/aos.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="assets/css/style.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: Regna - v2.2.0
  * Template URL: https://bootstrapmade.com/regna-bootstrap-onepage-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="header-transparent">
    <div class="container">

      <div id="logo" class="pull-left">
        <h2> <a   href="/">CotoTurist</a></h2>
       
        <!-- Uncomment below if you prefer to use a text logo -->
        <!--<h1><a href="#hero">Regna</a></h1>-->
      </div>

      <nav id="nav-menu-container">
        <ul class="nav-menu">
          <li class="menu-active"><a href="/">Home</a></li>
          <li><a href="/about">Acerca de nosotros</a></li>
          <li><a href="#services">Servicios</a></li>
          <li><a href="#portfolio">Anuncios</a></li>
          <li><a href="/search_LT">Lugares Turisticos</a></li>
             <li class="menu-has-children"><a href="#">Login</a>
            <ul>
              <li><a href="/login/">Usuario</a></li>
              <li><a href="/administrador/">Personal</a></li>
            </ul>
          </li>


          <li class="menu-has-children"><a href="#">Idioma</a>
            <ul>
              <div id="google_translate_element"></div>
            </ul>
          </li>
          


          
        </ul>

      </nav><!-- #nav-menu-container -->
      
       </div>
       
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero">
    <div class="hero-container" data-aos="zoom-in" data-aos-delay="100">
      
      <h1>Turismo Comunitario en Ecuador</h1>
      
      <h2>La mejor experiencia turistica dentro del Ecuador</h2>
      <a href="#about" class="btn-get-started">Conocenos</a>
    </div>
  </section><!-- End Hero Section -->

  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="about">
      <div class="container" data-aos="fade-up">
        <div class="row about-container">

          <div class="col-lg-6 content order-lg-1 order-2">
            <h2 class="title">Acerca de Nosotros</h2>
            <p>
              La Red de Profesionales de Cotopaxi, es una organización social sin fines de lucro integrada por profesionales multidisciplinarios, con el objetivo de promover un desarrollo sostenible y sustentable para lograr una sociedad más equitativa y justa.
            </p>

            <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
              <div class="icon"><i class="fa fa-shopping-bag"></i></div>
              <h4 class="title"><a >Emprendimientos</a></h4>
              <p class="description">Incentivar a crear o potenciar los diferentes empredimientos en la provincia de Cotopaxi</p>
            </div>

            <div class="icon-box" data-aos="fade-up" data-aos-delay="200">
              <div class="icon"><i class="fa fa-photo"></i></div>
              <h4 class="title"><a href="">Turismo Comunitario</a></h4>
              <p class="description">El turismo comunitario es un tipo de turismo que se caracteriza por exponer lugares turistico y servicios acordes con este, en manos de miembros de comunidades locales</p>
            </div>

            <div class="icon-box" data-aos="fade-up" data-aos-delay="300">
              <div class="icon"><i class="fa fa-bar-chart"></i></div>
              <h4 class="title"><a href="">Mejora SOcial y Economica</a></h4>
              <p class="description">Al incentivar lugares y servicios turisticos generamos atraer a diverentes turistas y por medio de eso generer productividad social y economica</p>
            </div>
            <div class="col-lg-3 cta-btn-container text-center">
              <a class="cta-btn align-middle" href="/about/">Saber mas</a>
            </div>
          </div>

          <div class="col-lg-6 background order-lg-2 order-1" data-aos="fade-left" data-aos-delay="100"></div>
        </div>

      </div>
    </section><!-- End About Section -->

    <!-- ======= Facts Section ======= -->
  

    <!-- ======= Services Section ======= -->
    <section id="services">
      <div class="container" data-aos="fade-up">
        <div class="section-header">
          <h3 class="section-title">Servicios</h3>
          <p class="section-description">Ofrecemos una gran vasriedad de Lugares Turisticos y servicios Comunitarios</p>
        </div>
        <div class="row">
          <div class="col-lg-4 col-md-6" data-aos="zoom-in">
            <div class="box">
              <div class="icon"><a ><i class="fa fa-desktop"></i></a></div>
              <h4 class="title"><a >Registra tu Lugar o emprendimiento Comunitario</a></h4>
              <p class="description">Los mejores paisajes, fauna y flora, dentro de esta pagina podras conocer las maravillas naturales de la provinvia de Cotopaxi y sus diferentes servicios que ofertan su comunidad </p>
            </div>
          </div>
          <div class="col-lg-4 col-md-6" data-aos="zoom-in">
            <div class="box">
              <div class="icon"><a ><i class="fa fa-bar-chart"></i></a></div>
              <h4 class="title"><a >Impulsa tu emprendimiento</a></h4>
              <p class="description">Esa pagina web tiene la capacidad de promocionar los diferentes servicios comunitarios que ofreces para incentivar el turismo dentro de la provincia</p>
            </div>
          </div>
          <div class="col-lg-4 col-md-6" data-aos="zoom-in">
            <div class="box">
              <div class="icon"><a ><i class="fa fa-paper-plane"></i></a></div>
              <h4 class="title"><a >Ubicación</a></h4>
              <p class="description">Todos los lugares turisticos contaran con su ubicación actual y los servicios que se ofertan a su alrededor</p>
            </div>
          </div>
<br>
          <div class="col-lg-4 col-md-6" data-aos="zoom-in">
            <div class="box">
              <div class="icon"><a ><i class="fa fa-photo"></i></a></div>
              <h4 class="title"><a >Variedad de Lugares Turistico</a></h4>
              <p class="description">Esta pagina web que tiene como objetivo impulsar los sectores menos visitados por turistas, para asi poder generar desarrollo social y productivo</p>
            </div>
          </div>
          <div class="col-lg-4 col-md-6" data-aos="zoom-in">
            <div class="box">
              <div class="icon"><a ><i class="fa fa-road"></i></a></div>
              <h4 class="title"><a >Mapa</a></h4>
              <p class="description">Por medio de un mapa te enseñamos las mejores opciones tanto en servicios como lugares turisticos comunitarios</p>
            </div>
          </div>
          <div class="col-lg-4 col-md-6" data-aos="zoom-in">
            <div class="box">
              <div class="icon"><a ><i class="fa fa-shopping-bag"></i></a></div>
              <h4 class="title"><a >Servicios Turisticos</a></h4>
              <p class="description">Publicitamos y ofertamos tus servicios comunitarios</p>
            </div>
          </div>
        </div>

      </div>
    </section><!-- End Services Section -->

    <!-- ======= Call To Action Section ======= -->
    <section id="call-to-action">
      <div class="container">
        <div class="row" data-aos="zoom-in">
          <div class="col-lg-9 text-center text-lg-left">
            <h3 class="cta-title">Registra tu lugar o servicio turistico</h3>
            <p class="cta-text"> Resgistra tu Lugar Turistico o emprendimiento comunitario y ayudanos a fortalezer el turismo en la provincia de Cotopaxi</p>
          </div>
          <div class="col-lg-3 cta-btn-container text-center">
            <a class="cta-btn align-middle" href="/login">Registrate ya</a>
          </div>
        </div>

      </div>
    </section><!-- End Call To Action Section -->

    <!-- ======= Portfolio Section ======= -->
    <section id="portfolio" class="portfolio">
      <div class="container" data-aos="fade-up">
        <div class="section-header">
          <h3 class="section-title">Anuncios</h3>
          <p class="section-description">No te pierdas las mejores ofertas aprovecha y visita la provincia de cotopaxi</p>
        </div>

      

        <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="200">

          <% for (var i = 0; i < data.length; i++){ %>
          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <img src="<%=data[i].path_img%>" class="img-fluid" style="max-width:100%;height:auto;  height: 300px;" alt="">
            <div class="portfolio-info">
              <h4><%=data[i].name_emprendimiento%></h4>
              <p>Cuenta con un anuncio</p>
              <p><%=data[i].Nombre_Anuncio%></p>
              <a href="/ver/<%=data[i].id_emprendimiento%>" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
            </div>
          </div>
  <% } %>
         
          </div>

        </div>
  <div class="container" style=" text-align: center;" >
        <div class="section-header">
          <a  href="/search_LT" style="color: #20c997 ;" class="section-title">Visitar los sitios</a>
           </div>
      </div>
      </div>
    </section><!-- End Portfolio Section -->

    <!-- ======= Team Section ======= -->
   

    <!-- ======= Contact Section ======= -->
    

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="footer-top">
      <div class="container">

      </div>
    </div>

    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong>Regna</strong>. All Rights Reserved
      </div>
      <div class="credits">
        <!--
        All the links in the footer should remain intact.
        You can delete the links only if you purchased the pro version.
        Licensing information: https://bootstrapmade.com/license/
        Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=Regna
      -->
        Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
      </div>
    </div>
  </footer><!-- End Footer -->

  
<script>
  
function googleTranslateElementInit() {
  new google.translate.TranslateElement({pageLanguage: 'esp'}, 'google_translate_element');
}


// Minified Scripts
(function(){var gtConstEvalStartTime = new Date();/*

 Copyright The Closure Library Authors.
 SPDX-License-Identifier: Apache-2.0
*/
function d(b){var a=document.getElementsByTagName("head")[0];a||(a=document.body.parentNode.appendChild(document.createElement("head")));a.appendChild(b)}function _loadJs(b){var a=document.createElement("script");a.type="text/javascript";a.charset="UTF-8";a.src=b;d(a)}function _loadCss(b){var a=document.createElement("link");a.type="text/css";a.rel="stylesheet";a.charset="UTF-8";a.href=b;d(a)}function _isNS(b){b=b.split(".");for(var a=window,c=0;c<b.length;++c)if(!(a=a[b[c]]))return!1;return!0}
function _setupNS(b){b=b.split(".");for(var a=window,c=0;c<b.length;++c)a.hasOwnProperty?a.hasOwnProperty(b[c])?a=a[b[c]]:a=a[b[c]]={}:a=a[b[c]]||(a[b[c]]={});return a}window.addEventListener&&"undefined"==typeof document.readyState&&window.addEventListener("DOMContentLoaded",function(){document.readyState="complete"},!1);
if (_isNS('google.translate.Element')){return}(function(){var c=_setupNS('google.translate._const');c._cest = gtConstEvalStartTime;gtConstEvalStartTime = undefined;c._cl='en';c._cuc='googleTranslateElementInit';c._cac='';c._cam='';c._ctkk='440335.1449305758';var h='translate.googleapis.com';var s=(true?'https':window.location.protocol=='https:'?'https':'http')+'://';var b=s+h;c._pah=h;c._pas=s;c._pbi=b+'/translate_static/img/te_bk.gif';c._pci=b+'/translate_static/img/te_ctrl3.gif';c._pli=b+'/translate_static/img/loading.gif';c._plla=h+'/translate_a/l';c._pmi=b+'/translate_static/img/mini_google.png';c._ps=b+'/translate_static/css/translateelement.css';c._puh='translate.google.com';_loadCss(c._ps);_loadJs(b+'/translate_static/js/element/main.js');})();})();
</script>
  <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>

  <!-- Vendor JS Files -->
  <script src="assets/vendor/jquery/jquery.min.js"></script>
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/jquery.easing/jquery.easing.min.js"></script>
  <script src="assets/vendor/php-email-form/validate.js"></script>
  <script src="assets/vendor/counterup/counterup.min.js"></script>
  <script src="assets/vendor/waypoints/jquery.waypoints.min.js"></script>
  <script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="assets/vendor/superfish/superfish.min.js"></script>
  <script src="assets/vendor/hoverIntent/hoverIntent.js"></script>
  <script src="assets/vendor/owl.carousel/owl.carousel.min.js"></script>
  <script src="assets/vendor/venobox/venobox.min.js"></script>
  <script src="assets/vendor/aos/aos.js"></script>

  <!-- Template Main JS File -->
  <script src="assets/js/main.js"></script>

</body>

</html>